{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-4 text-light">
    <div class="col-4 rounded mt-4">
        <h1 class="h2 text-left mt-4 p-2">sign in</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="submit" value="Login to your account" class="btn btn-primary"><p>
            </div>
        </form>
        <p><a href="{% url 'password_reset' %}" class="text-light">Password forgotten?</a></p>
        <p>Don't have a account? <a href="{% url 'register' %}" class="btn btn-link text-danger">REGISTER HERE</a></p>
    </div>
</div>

{% endblock %}