{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-4 text-light">
    <div class="col-4 rounded mt-4">
        <h1 class="h2 text-left mt-4 p-2">Change your password</h1>
        <p>use the form below to change your password</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name='{{ next }}'>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary"><p>
            </div>
        </form>
    </div>
</div>
{% endblock %}