{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-4 text-light">
    <div class="col-4 rounded mt-4">
        {% if validlink %}
        <h1 class="h2 text-left mt-4 p-2">Reset your password</h1>
        <p>Please, nter your new password twice.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="submit" value="Send e-mail" class="btn btn-primary"><p>
            </div>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.Please request a new password reset.</p>
        {% endif %}

    </div>
</div>
{% endblock %}